# Compiled Object files
*.slo
*.lo
*.o
*.bin
*.app
/bin/*
.ccache/*

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
lib/*
*.lai
*.la
*.a

# Data file
examples/*
*.dat
*.plt
*.lay

# Temp files
*.cpp~
*.hpp~
Makefile~
*.swp
*~
.dropbox.attr
